.o_main
  .o_section__image
    %img{src: "https://placehold.jp/600x150.png"}
  .o_section__pickup-container
    %h2.o_pickup__head
      ピックアップカテゴリー
      .o_box
        %h3.o_pickup__content--title
          レディース 新着アイテム
        .pickup__content--content
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
        .pickup__content--bottom
          すべての商品を見る
      .o_box
        %h3.pickup__content--title
          メンズ 新着アイテム
        .pickup__content--content
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
        .pickup__content--bottom
          すべての商品を見る
      .o_box
        %h3.pickup__content--title
          ベビー・キッズ 新着アイテム
        .pickup__content--content
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
        .pickup__content--bottom
          すべての商品を見る
      .o_box
        %h3.pickup__content--title
          コスメ・香水・美容 新着アイテム
        .pickup__content--content
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
        .pickup__content--bottom
          すべての商品を見る

  .section__pickup-container
    %h2.pickup__head
      ピックアップブランド
      .o_box
        %h3.pickup__content--title
          シャネル 新着アイテム
        .pickup__content--content
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
        .pickup__content--bottom
          すべての商品を見る
      .o_box
        %h3.pickup__content--title
          ルイ ヴィトン 新着アイテム
        .pickup__content--content
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
        .pickup__content--bottom
          すべての商品を見る
      .o_box
        %h3.pickup__content--title
          シュプリーム 新着アイテム
        .pickup__content--content
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
        .pickup__content--bottom
          すべての商品を見る
      .o_box
        %h3.pickup__content--title
          ナイキ 新着アイテム
        .pickup__content--content
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
          .o_itembox
            %a.o_itembox__photo
              %img{src: "https://placehold.jp/150x150.png"}
            .o_itembox__body
              .o_itembox__body--title
                美品COACH
              .o_tembox__body--bottom
                .o_itembox__body--bottom--price
                  ¥43,500
                .o_itembox__body--bottom--like
                  ★45
        .pickup__content--bottom
          すべての商品を見る