.o_white
  .o_top-image
    %img{src: "https://placehold.jp/600x150.png"}
  .o_pickup-container
    %h2.o_pickup-head
      ピックアップカテゴリー
      .o_items-box
        %h3.o_items-box__title
          レディース 新着アイテム
        .o_items-box__content
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
        .o_items-box__view-all
          すべての商品を見る
      .o_items-box
        %h3.o_items-box__title
          メンズ 新着アイテム
        .o_items-box__content
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
        .o_items-box__view-all
          すべての商品を見る
      .o_items-box
        %h3.o_items-box__title
          ベビー・キッズ 新着アイテム
        .o_items-box__content
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
        .o_items-box__view-all
          すべての商品を見る
      .o_items-box
        %h3.o_items-box__title
          コスメ・香水・美容 新着アイテム
        .o_items-box__content
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
        .o_items-box__view-all
          すべての商品を見る
    %h2.o_pickup-head
      ピックアップブランド
      .o_items-box
        %h3.o_items-box__title
          シャネル 新着アイテム
        .o_items-box__content
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
        .o_items-box__view-all
          すべての商品を見る
      .o_items-box
        %h3.o_items-box__title
          ルイ ヴィトン 新着アイテム
        .o_items-box__content
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
        .o_items-box__view-all
          すべての商品を見る
      .o_items-box
        %h3.o_items-box__title
          シュプリーム 新着アイテム
        .o_items-box__content
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
        .o_items-box__view-all
          すべての商品を見る
      .o_items-box
        %h3.o_items-box__title
          ナイキ 新着アイテム
        .o_items-box__content
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
          .o_item
            %a
              %img{src: "https://placehold.jp/200x200.png"}
              .o_item__body
                .o_item__body--title
                  美品COACH
                .o_item__body--bottom
                  .o_item__body--bottom--price
                    ¥43,500
                  .o_item__body--bottom--like
                    ★45
        .o_items-box__view-all
          すべての商品を見る